/*root values*/

:root {
    --primary-color: rgb(204, 186, 233); 
    --secondary-color: rgb(139, 96, 219);
    --wowie: rgb(252, 232, 255);
    --font-standard: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
}


button {
    cursor: pointer;
}
button:hover {
    background-color:  rgb(122, 80, 199);
}

/*header formatting*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;
}
nav {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    padding: 10px 10px 8px;
    justify-content: space-around;
}
.dropdown, .main {
    width: 200px;
    height: 2rem;
    text-align: center;
    background-color: var(--secondary-color);
    font-size: x-large;

    border-radius: 25px;
    cursor: pointer;
}

.dropdown, #faq_link {
    margin-left: .25em;
}

#home_link {
    margin-right: 10em;
}

/*dropdown menu*/
.dcontent {
    display: none;
    background-color: var(--wowie);
    color: black;
    width: 100vh;
    height: 50vh;
    position: relative;
    top: -20px;
    text-align: left;
    padding: 13px;
    overflow: hidden;
}

.dcontent img {
    float: right;
    rotate: -10deg;
    position: relative;
    top: -60vh;
    right: -25vh;
    width: 95vh;
}

.dcontent a {
    text-decoration: none;
    color: inherit;
    line-height: 10vh;
}

#d1 {
    position: relative;
    right: 200%;
}

#d2 {
    position: relative;
    right: 23.80em;
}

#d3 {
    position: relative;
    right: 30em;
}

.dropdown:hover .dcontent{
    display: block;
}

/*Makes an img span whole page*/

#span-whole {
    width: 100%;
    height: 350px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

#over-img {
    position: relative;
    top: -180px;
    margin-left: 20px;
    font-size: 5pc;
}

/*img then box over it*/

#box {
    position: relative;
    right: -6%;
    top: -150px;
    width: 50%;
    height: 620px;
    text-align: center;
}

.over-easy {
    position: absolute;
    background-color: var(--primary-color);
    width: 20%;
    height: 30%;

    left: 50%;
    top: 65%;
    padding: 30px;
    font-size: var(--font-standard);
    text-align: left;
}

.over-easy button {
    background-color: var(--secondary-color);
    border: none;
    width: 250px;
    height: 50px;
    position: relative;
    top: 30%;
    font-size: x-large;
}

/*Activity Scroll*/
#act {
    margin-left: 5%;
}

#activity-scroll {
    width: 65%;
    display: flex;
    margin-left: 5%;
    justify-content: space-around;
}
.activity {
    width: 30%;
    height: 500px;
    border-radius: 100px 100px 0px 0px;
}

#activity-scroll p {
    background-color: var(--primary-color);
    width: 30%;
    height: fit-content;
    font-size: var(--font-standard);
    text-align: center;
}

#act h2 {
    font-size: 50px;
}

#arrow {
    font-size: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
      
    width: fit-content;
    padding: 0px 10px;
    cursor: pointer;
    float: right;

    position: relative;
    top: -400px;
    right: 15%;
}

#dots {
    width: fit-content;
    margin-left: 27.5%;
    letter-spacing: 30px;
    background-color: var(--primary-color);
    padding: 0px 3px 0px 3%;
    border-radius: 35px;

    font-size: 30px;
    cursor: pointer;
}

/* Big Image at bottom with text under it */

.on-top {
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
}

.big {
    position: relative;
    height: 550px;
}

.on-top button {
    border: none;
    width: 100%;
    height: 100px;
    margin-top: 2%;
    font-size: xx-large;
}

/* footer */

footer {
    background-color: var(--primary-color);
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    column-gap: 2.5em;
    clear:both;
    position: relative;
    margin-top: 30vh;
}

/*activites section*/

.activites, .events, .sightseeing {
    margin: 2% 10%;
    background-color:rgb(255, 255, 255);
    
}

#item {
    width: 85%;
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
}
.item {
    width: 20%;
    height: 20%;
    cursor: pointer;
}

#item p {
    background-color: var(--primary-color);
    width: 20%;
    height: fit-content;
    font-size: var(--font-standard);
    text-align: center;
}

.activites button, .sightseeing button {
    margin-top: 5%;
    width: 20%;
    padding: .5%;
    font-size: var(--font-standard);
}

#hder {
    text-indent: 2em;
    padding-bottom: .5em;
    border-bottom: solid 1px black;
    margin: 5%;
    font-size: 2.75em;
}

.events div:last-child {
    margin-left:30%;
}

.events button {
    margin-top: 5%;
    width: 15%;
    padding: .25%;
    font-size: var(--font-standard);
}

/*middle text with button*/
.middleTxt {
    text-align: center;
    width: 30%;
    margin: 5% 33%;
    font-size: larger;
}

.middleTxt button {
    width: 85%;
    padding: 5px;
    font-size: var(--font-standard);
}

/*planning page*/

/*img on left side, then text*/

#leftImg {
    margin: 5% 15%;
    display: block;
    clear:both;
    margin-right: 2%;
}

#leftImg img {
    float: left;
    width: 50%;
    height: 20em;
}

#rightTxt {
    display: block;
    float: right;
    position: relative;
    left: -20%;
    font-size: var(--font-standard);
    width: 25%;
}

#rightTxt button {
    text-align: center;
    width: 100%;
    height: 2em;
    font-size: var(--font-standard);
}

/*img on right, txt on left*/

#rightImg {
    margin: 15%;
    margin-right: 2%;
    display: block;
    clear: both;
    padding: 5em 0em;
}

#rightImg img {
    float: right;
    width: 50%;
    height: 20em;
    position: relative;
    left: -20%;
}

#leftTxt {
    display: block;
    float: left;
    position: relative;
    font-size: var(--font-standard);
    width: 25%;
}

#leftTxt button {
    text-align: center;
    width: 100%;
    height: 2em;
    font-size: var(--font-standard);
}

/*img and box*/
#container {
    margin: 0% 15%;
    padding-top: 5%;
    height: 625px;
    clear: both;
}

#container img {
    width: 100%;
    height: 30em;
}
.over {
    background: var(--primary-color);
    width: 30%;
    height: 15em;
    position: relative;
    top: -10em;
    right: -65%;
    font-size: var(--font-standard);
    padding: 1em;
}

.over button {
    display: block;
    margin-left: 10%;
    margin-top: 7%;
    width: 75%;
    height: 2.5em;
    font-size: medium;
    border: none;
    background-color: var(--secondary-color);
}

/*culture section of planning page formatting*/

#culture {
    display:flex;
    margin: 0% 0% 20% 15%;
}

#culture span {
    width: 65%;
    height: 65%;
}

#culture img {
    width:30em;
    height: 35em;
}

#img-over {
    position: relative;
    top: 10em;
    right: 20%;
}

#culture p {
    position: relative;
    top: 90px;
    right: 9%;
    width: 20%;
    font-size: 25px;
    text-align: left;
}

/*The Island pg */

#bigImg {
    display: block;
    margin: 5% 0%;
    text-align: center;
    font-size: 30px;
}
#map {
    width: 50em;
    height: 20em;
}

#imgLeft {
    margin: 0% 11%;
}

#imgLeft img {
    width: 60%;
    height: 30em;
    float: left;
}

#imgLeft h2 {
    padding-top: 5%;
    text-indent: 10%;
    font-size: 2.5em;
}

#txtRight {
    float: right;
    width: 25%; 
    font-size: 2em;
}

/*img on right, txt on left*/

#imgRight {
    margin: 0% 11%;
    padding-top: 5em;
    clear: both;
}

#imgRight img {
    width: 60%;
    height: 30em;
    float: right;
}

#imgRight h2 {
    padding-top: 5%;
    text-indent: 5%;
    font-size: 2.5em;
}

#txtLeft {
    padding-left: 10%;
    float: left;
    width: 25%; 
    font-size: 2em;
}

.addPadding {
    margin: 5em 0em;
}
/*the location list thing*/

.locations {
    margin: 2% 10%;
    background-color:rgb(255, 255, 255);
    width: 75%;
}

.locations #item {
    width: 100%;
    display: flex;
    margin-left: 1%;
    justify-content: space-evenly;
}
.locations .item {
    width: 15%;
    height: 15%;
    cursor: pointer;
}

.locations #item p {
    width: 20%;
    height: fit-content;
    font-size: var(--font-standard);
    text-align: center;
    background-color: white;
}

.locations button {
    margin-top: 5%;
    width: 25%;
    padding: .5%;
    font-size: var(--font-standard);
    position: relative;
    right: -25%;
}

#header {
    text-indent: 4.5em;
    font-size: 2.5em;
}

#faqH {
    text-indent: -1em;
    padding-bottom: .5em;
    border-bottom: solid 1px black;
    margin: 5% 5% 0% 5%;
    font-size: 2em;
}

#qna {
    margin: 0% 10%;
}
#qna h3 {
    font-size: 1.5em;
}
#qna p {
    text-indent: 3em;
    font-size: var(--font-standard);
}